{% extends 'accounts/main.html' %}

{% block content %}

<style>
.alert {
  font-size: 25px;
}
</style>

<h1>Your Current Queue</h1>
{% if messages %}
{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}
{% endif %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Ticket Number</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Source</th>
        <th scope="col">Site</th>
        <th scope="col">Service Type</th>
        <th scope="col">Troubleshoot Required?</th>
        <th scope="col">Notes</th>
        <th scope="col">Status</th>
        <th scope="col">Resolution</th>
        <th scope="col">Update</th>
        <th scope="col">Finish Ticket</th>
        <th scope="col">Delete Ticket</th>
        <th scope="col">Escalate to Cesare</th>
      </tr>
    </thead>
    <tbody>
        {% for log in logs %}
      <tr>
        {% if log.source == 'Trouble Ticket' %}
        <td><strong><a class="btn btn-sm btn-info" href="{% url 'troubleTicketView' log.ticket_Number %}">{{log.ticket_Number}}</a></strong></td>
        {% elif log.source == 'change orders/disconnects/reconnects' %}
        <td><strong><a class="btn btn-sm btn-info" href="{% url 'changeOrderView' log.ticket_Number %}">{{log.ticket_Number}}</a></strong></td>
        {% elif log.source == 'Secure Plus' %}
        <td><strong><a class="btn btn-sm btn-info" href="{% url 'ddtView' log.ticket_Number %}">{{log.ticket_Number}}</a></strong></td>
        {% elif log.source == 'Collection Disconnect' %}
        <td><strong><a class="btn btn-sm btn-info" href="{% url 'collectionDisconnectView' log.ticket_Number %}">{{log.ticket_Number}}</a></strong></td>
        {% else %}
        <th scope="row">{{log.ticket_Number}}</th>
        {% endif %}
        <td>{{log.employee}}</td>
        <td>{{log.source}}</td>
        <td>{{log.site}}</td>
        <td>{{log.services}}</td>
        <td>{{log.troubleshoot_Required}}</td>
        <td>{{log.notes}}</td>
        <td>{{log.status}}</td>
        <td>{{log.resolution}}</td>
        <td><a class="btn btn-sm btn-info" href="{% url 'update' log.id %}">Update</a></td>
        <td><a class="btn btn-sm btn-info" href="{% url 'complete' log.id %}">Mark as Complete</a></td>
        {% if log.source == 'Trouble Ticket' %}
        <td><strong><a class="btn btn-sm btn-danger" href="{% url 'sendBackTroubleTicket' log.id %}">Send Back To Pending Ticket List</a></strong></td>
        {% elif log.source == 'change orders/disconnects/reconnects' %}
        <td><strong><a class="btn btn-sm btn-danger" href="{% url 'sendBackChangeOrder' log.id %}">Send Back To Pending Ticket List</a></strong></td>
        {% elif log.source == 'Secure Plus' %}
        <td><strong><a class="btn btn-sm btn-danger" href="{% url 'sendBackDdt' log.id %}">Send Back To Pending Ticket List</a></strong></td>
        {% elif log.source == 'Collection Disconnect' %}
        <td><strong><a class="btn btn-sm btn-danger" href="{% url 'sendBackCollectionDisconnect' log.id %}">Send Back To Pending Ticket List</a></strong></td>
        {% else %}
        <td><a class="btn btn-sm btn-danger" href="{% url 'delete' log.id %}">Delete</a></td>
        {% endif %}
        <td><strong><a class="btn btn-sm btn-danger" href="{% url 'sendToBoss' log.id %}">Send To Cesare</a></strong></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}