{% extends 'accounts/main.html' %}

{% block content %}



<h1>Your Daily Work</h1>
{% if messages %}
{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}
{% endif %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Ticket Number</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Source</th>
        <th scope="col">Site</th>
        <th scope="col">Service Type</th>
        <th scope="col">Troubleshoot Required?</th>
        <th scope="col">Notes</th>
        <th scope="col">Status</th>
        <th scope="col">Resolution</th>
        <th scope="col">Date/Time Submitted</th>
        <th scope="col">Time Taken</th>
        <th scope="col">Completion Status</th>
      </tr>
    </thead>
    <tbody>
        {% for log in logs %}
      <tr>
        <th scope="row">{{log.ticket_Number}}</th>
        <td>{{log.employee}}</td>
        <td>{{log.source}}</td>
        <td>{{log.site}}</td>
        <td>{{log.services}}</td>
        <td>{{log.troubleshoot_Required}}</td>
        <td>{{log.notes}}</td>
        <td>{{log.status}}</td>
        <td>{{log.resolution}}</td>
        <td>{{log.dateCreated}}</td>
        <td>{{log.clock}}</td>
        <td>{{log.completion_Status}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}