{% extends 'accounts/main.html' %}

{% block content %}
    
<h1>Live View of Current Tickets</h1>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Ticket Number</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Source</th>
        <th scope="col">Site</th>
        <th scope="col">Service Type</th>
        <th scope="col">Troubleshoot Required?</th>
        <th scope="col">Notes</th>
        <th scope="col">Status</th>
        <th scope="col">Resolution</th>
        <th scope="col">Completion Status</th>
      </tr>
    </thead>
    <tbody>
        {% for log in logs %}
      <tr>
        <td><strong><a class="btn btn-sm btn-info" href="https://www.cognitoforms.com/forms/tier2provisionrequest/entries/1-dw/">test</a></strong></td>
        <td>{{log.employee}}</td>
        <td>{{log.source}}</td>
        <td>{{log.site}}</td>
        <td>{{log.services}}</td>
        <td>{{log.troubleshoot_Required}}</td>
        <td>{{log.notes}}</td>
        <td>{{log.status}}</td>
        <td>{{log.resolution}}</td>
        <td>{{log.completion_Status}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}