{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}
<style>
.divider{
    width:20px;
    height:auto;
    display:inline-block;
}
</style>

<h1>Choose The List Format You Wish to Assign Tickets For</h1>
<a type="button" class="btn btn-secondary btn-lg" href="{% url 'troubleTicketDropdown' %}">Trouble Ticket</a>
<div class="divider"></div>
<a type="button" class="btn btn-secondary btn-lg" href="{% url 'changeOrderDropdown' %}">Change Order/Disconnect/Reconnect</a>
<div class="divider"></div>
<a type="button" class="btn btn-secondary btn-lg" href="{% url 'ddtDropdown' %}">Secure Plus</a>
<div class="divider"></div>
<a type="button" class="btn btn-secondary btn-lg" href="{% url 'collectionDisconnectDropdown' %}">Collection Disconnect</a>

{% endblock %}