<style>
    #wrapper {
        width: 1200px;
        height: auto;
    }
    #left {
         width: 650px;
         height: auto;
         float: left;
     }
    #right {
          width: 550px;
          height: auto;
          float: left;
    }
    #newLine {
      clear: both;
    }
</style>

<div id="wrapper">
  <section id="left">
    <h1>Manually Log Your Current Ticket</h1>
  </section>
  <section id="right">
    <script src="{% static 'js/timer.js' %}"></script>
    <div>Hour: <span id="hour"></span></div>
    <div>Minute: <span id="minute"></span></div>
    <div>Second: <span id="seconds"></span></div>
    <button id="start-btn">Start</button>
    <button id="stop-btn">Stop</button>
    <button id="reset-btn">Reset</button>
  </section>
</div>