{% extends 'accounts/main.html' %}

{% block content %}

<style>
  .divider{
      width:20px;
      height:auto;
      display:inline-block;
  }
  </style>
  
  <h1>Choose the Pending Ticket List You Wish to Work On</h1>
  <a type="button" class="btn btn-secondary btn-lg" href="{% url 'troubleTicketGrabber' %}">Pending Trouble Ticket</a>
  <div class="divider"></div>
  <a type="button" class="btn btn-secondary btn-lg" href="{% url 'changeOrderGrabber' %}">Pending Change Order/Disconnect/Reconnect</a>
  <div class="divider"></div>
  <a type="button" class="btn btn-secondary btn-lg" href="{% url 'ddtGrabber' %}">Pending Secure Plus</a>
  <div class="divider"></div>
  <a type="button" class="btn btn-secondary btn-lg" href="{% url 'collectionDisconnectGrabber' %}">Pending Collection Disconnect</a>

{% endblock %}